body {
    background-color: rgb(248, 246, 207);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 45px;
}

.button-grid {
    display: grid;
    grid-gap: 30px;
}

.button {
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    margin: 0 auto; /* 수평 가운데 정렬 */
}

.black_btn2 {
    background-color: #413f3f;
    color: white;
    border-radius: 3px;
    font-size: 16px; 
    padding: 8px 15px;
    border: none;
}
.black_btn2:hover {
    background-color: lightgray;
}
.black_btn2:focus {
    box-shadow: 0 0 0 1px black;
}
.black_btn2:active {
    background-color: lightgray;
}

.black_btn1 {
    background-color: #413f3f;
    color: white;
    border-radius: 3px;
    font-size: 16px; 
    padding: 8px 15px;
    border: none;
}
.black_btn1:hover {
    background-color: lightgray;
}
.black_btn1:focus {
    box-shadow: 0 0 0 1px black;
}
.black_btn1:active {
    background-color: lightgray;
}


.space {
    margin-left: 35px;
    font-size: 30px;
}

.white_btn {
    background-color: white;
    border-radius: 3px;
    font-size: 17px; 
    padding: 10px 10px;
    width: 300px;
    height: 50px;
    line-height: 5px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}
.white_btn:hover {
    background-color: #E0E0E0;
}
.white_btn:focus {
    box-shadow: 0 0 0 1px black;
}
.white_btn:active {
    background-color: #E0E0E0;
}

#go-back {
    width: fit-content;
    background-color: transparent;
    border: 1px solid rgb(205, 212, 215);
    border-radius: 10px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
}

#go-back:hover {
    background-color: #4287f5;
    color: #fff;
}
